<% content_for(:title, t('.title')) %>
<div class="container d-flex flex-wrap justify-content-center justify-content-center pt-5">
  <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
    <h1><%= t('.title') %></h1>
    <div class="text-right mb-3">
      <%= link_to t('defaults.edit'), edit_teacher_student_path(@student), class: 'btn btn-success' %>
      <%= link_to t('defaults.delete'), teacher_student_path(@student), method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
    </div>
    <table class="table table-bordered bg-white">
      <tr>
        <th scope="row"><%= Student.human_attribute_name(:name) %></th>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <th scope="row"><%= Student.human_attribute_name(:email) %></th>
        <td><%= @student.email %></td>
      </tr>
      <tr>
        <th scope="row"><%= Student.human_attribute_name(:grade_id)%></th>
        <td><%= @student.grade.name %></td>
      </tr>
      <tr>
        <th scope="row"><%= Student.human_attribute_name(:student_class_id)%></th>
        <td><%= @student.student_class.name %></td>
      </tr>
      <tr>
        <th scope="row"><%= '達成率の平均値'%></th>
        <td><%= @average_achievement_rate.present? ? number_to_percentage(@average_achievement_rate, precision: 0) : 'N/A' %>
      <tr>
    </table>
  </div>
</div>
